grpcio==1.76.0
injector==0.22.0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-instrumentation-grpc==0.59b0
opentelemetry-instrumentation-sqlalchemy==0.59b0
PyJWT==2.10.1
SQLAlchemy==2.0.44
python-json-config==1.2.3